body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
 
 
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
 
 
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
    display: inline-block;
    border: solid 1px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    width: 15%;
    text-align: center;
    /* border-width: ; */
    background-color: aqua;
 }
p{
    color: lightskyblue;
    border: dotted black;
    padding: 5px;
    background: black;
}
